## **1. Set connection to Google Drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Change present working directory

In [2]:
%cd /content/drive/MyDrive/MasterThesis

/content/drive/MyDrive/MasterThesis

## **2. Git Handling**

In [ ]:
!git config --global user.email "gabriel.peier@stud.hslu.ch"

In [ ]:
username = "Icelander169"
git_token = "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"
repository = "MasterThesis"

In [ ]:
# !git init Scripts

In [6]:
%cd Scripts

/content/drive/MyDrive/MasterThesis/Scripts

In [ ]:
!git add . # adding changes for commitment

In [ ]:
!git status

On branch test
Changes to be committed:
  (use "git reset HEAD <file>..." to unstage)

	modified:   01_Reading_Cleaning_Data.ipynb

In [ ]:
# !git remote add origin2 https://{git_token}@github.com/{username}/{repository}.git
#!git remote -v

origin	https://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@github.com/Icelander169/MasterThesis.git (fetch)
origin	https://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@github.com/Icelander169/MasterThesis.git (push)
origin2	https://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@github.com/Icelander169/MasterThesis.git (fetch)
origin2	https://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@github.com/Icelander169/MasterThesis.git (push)

In [ ]:
# !git commit -m "Cleaned and renamed file"

[test 3de3dfa] Cleaned and renamed file
 1 file changed, 1 insertion(+), 1 deletion(-)
 rewrite 01_Reading_Cleaning_Data.ipynb (72%)

In [ ]:
# !git push origin2 test

Counting objects: 9, done.
Delta compression using up to 4 threads.
Compressing objects: 100% (8/8), done.
Writing objects: 100% (9/9), 33.06 KiB | 1.94 MiB/s, done.
Total 9 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), done.
To https://github.com/Icelander169/MasterThesis.git
   ef75d34..3de3dfa  test -> test

In [ ]:
# !git checkout -b test

M	01_Reading_Data.ipynb
Switched to a new branch 'test'

## **3. Importing packages**

In [3]:
import pandas as pd
import numpy as np
# import scanpy as sc
from scipy.io import mminfo,mmread # handlings sparse matrices

## **4. Loading Data**

In [7]:
ga_hta = pd.read_excel("../Data/Raw/ga_hta_list.xlsx")
ga_hta

,Jahr_An_Anno,PLZ_NPA,GA_AG,GA_AG_flag,HTA_ADT_meta-prezzo,HTA_ADT_meta-prezzo_flag
0,2012,1000,72.000000,NaN,976.0,NaN
1,2012,1003,744.000000,NaN,3195.0,NaN
2,2012,1004,1919.000000,NaN,8167.0,NaN
3,2012,1005,860.000000,NaN,4021.0,NaN
4,2012,1006,1279.000000,NaN,5366.0,NaN
...,...,...,...,...,...,...
31854,2021,9652,56.000000,NaN,286.0,NaN
31855,2021,9655,11.795455,1.0,107.0,NaN
31856,2021,9656,22.000000,NaN,194.0,NaN
31857,2021,9657,33.000000,NaN,246.0,NaN
31858,2021,9658,63.000000,NaN,399.0,NaN

In [8]:
population = pd.read_excel('../Data/Raw/population.xlsx', header=[2]) # header = 2 due to unneccessary rows at beginning
population

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,Unnamed: 0,Total,Schweiz,Ausland,Mann,Frau,0-4,5-9,10-14,15-19,...,80-84,85-89,90 und mehr,Ledig,Verheiratet,Verwitwet,Geschieden,Unverheiratet,In eingetrage-ner Partner-schaft,Aufgelöste Partnerschaft
0,Schweiz,8670300.0,6459512.0,2210788.0,4302599.0,4367701.0,437118.0,439685.0,429468.0,420030.0,...,227086.0,147174.0,84029.0,3903333.0,3588894.0,403471.0,751735.0,617.0,19022.0,2981.0
1,1000,3991.0,2379.0,1612.0,1957.0,2034.0,208.0,179.0,219.0,559.0,...,50.0,27.0,14.0,2378.0,1307.0,81.0,217.0,0.0,7.0,1.0
2,1003,6528.0,3555.0,2973.0,3290.0,3238.0,265.0,187.0,190.0,206.0,...,85.0,55.0,56.0,4101.0,1628.0,178.0,556.0,1.0,59.0,5.0
3,1004,31084.0,17927.0,13157.0,15075.0,16009.0,1464.0,1230.0,1164.0,1252.0,...,751.0,533.0,363.0,17350.0,9284.0,1261.0,3028.0,7.0,127.0,25.0
4,1005,12465.0,7213.0,5252.0,6006.0,6459.0,643.0,501.0,483.0,506.0,...,243.0,206.0,119.0,7395.0,3496.0,397.0,1109.0,2.0,53.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3183,1 Serienbruch ab 2014: Exkl. „ohne Angabe“,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3184,Quelle: STATPOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3185,© BFS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3187,"Auskunft: Bundesamt für Statistik (BFS), Sekti...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
cars = pd.read_csv('../Data/Raw/cars_per_municipality.csv', sep = ";", encoding = 'latin-1')
cars

,Gemeinde,Fahrzeuggruppe,Treibstoff,2015,2016,2017,2018,2019,2020,2021
0,1 Aeugst am Albis,Personenwagen,Benzin,845,822,815,816,809,804,792
1,1 Aeugst am Albis,Personenwagen,Diesel,288,306,316,318,326,329,320
2,1 Aeugst am Albis,Personenwagen,Benzin-elektrisch: Normal-Hybrid,13,18,16,20,22,30,43
3,1 Aeugst am Albis,Personenwagen,Benzin-elektrisch: Plug-in-Hybrid,0,1,2,7,7,12,20
4,1 Aeugst am Albis,Personenwagen,Diesel-elektrisch: Normal-Hybrid,0,0,2,2,3,2,5
...,...,...,...,...,...,...,...,...,...,...
151405,6810 La Baroche,Anhänger,Diesel-elektrisch: Plug-in-Hybrid,0,0,0,0,0,0,0
151406,6810 La Baroche,Anhänger,Elektrisch,0,0,0,0,0,0,0
151407,6810 La Baroche,Anhänger,Wasserstoff,0,0,0,0,0,0,0
151408,6810 La Baroche,Anhänger,Gas (mono- und bivalent),0,0,0,0,0,0,0
151409,6810 La Baroche,Anhänger,Anderer,180,190,202,202,209,216,227

In [10]:
stations = pd.read_excel('../Data/Raw/stations_list_bav.xlsx')
stations

,Dst-Nr85,Ld,Dst-Nr,KZ,Name,Länge,Name lang,Dst-Abk,BP,VP,...,Ortschaft,Gde-Nr,Gemeinde,Kt.,E-Koord.,N-Koord.,Höhe,Bemerkungen,Karte,Karte.1
0,N° sv.85,py,N° sv.,Cc,Nom (ordre alphab.),Longueur,Nom long,Sigle sv.,PE,PT,...,Localité,N° commune,Commune,Ct.,Coord. E,Coord. N,Altitude,Remarque,Carte,Carte
1,Dienststellen-\nNummer siebenstellig,Ländercode,Dienststellen-\nNummer (85...),Kontrollziffer (o.Ld),Name \n(Dst-Bezeichnung),Länge (Name),Name lang \n(50 Zeichen),Dienststellen-\nAbkürzung,Betriebspunkt des Fahrplans,Haltestelle,...,Ortschaft,Gemeinde-\nNummer BFS,Gemeinde,Kanton,E-Koordinate,N-Koordinate,Höhe m ü.M.,Bemerkungen,Hyperlink auf \nmapsearch.ch,Hyperlink auf \nmap.geo.admin.ch
2,NaN,NaN,NaN,NaN,"Datenstand am 24.02.2022, Auszug für 24.02.2022",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,▲,▲
3,8506013,85,6013,7,Aadorf,6,NaN,AD,*,Ho,...,Aadorf,4551,Aadorf,TG,2710378,1260736,528,NaN,▲,▲
4,8573363,85,73363,4,"Aadorf, Bahnhof",15,NaN,NaN,*,Ho,...,Aadorf,4551,Aadorf,TG,2710335,1260768,528,NaN,▲,▲
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,▲,▲
49999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,▲,▲
50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,▲,▲
50001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,▲,▲
50002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,▲,▲

In [11]:
stop_count = pd.read_csv('../Data/Raw/stop_count.csv', sep = ",", encoding="latin-1")
stop_count

        FP_ID,"TU_CODE","TU_BEZEICHNUNG","TU_ABKUERZUNG","FARTNUMMER","BPUIC","BP_BEZEICHNUNG","BP_ABKUERZUNG","KANTON","SLOID","VM_ART","FAHRTAGE","AB_ZEIT_KB","AN_ZEIT_KB","RICHTUNG_TEXT_AGGREGIERT","END_BP_BEZEICHNUNG","LINIE","BP_ID"
0        2022,"101","Verkehrsbetriebe Biel","VB-be",230...
1        2022,"101","Verkehrsbetriebe Biel","VB-be",230...
2        2022,"101","Verkehrsbetriebe Biel","VB-be",230...
3        2022,"101","Verkehrsbetriebe Biel","VB-be",230...
4        2022,"101","Verkehrsbetriebe Biel","VB-be",230...
...                                                    ...
1048570  2022,"764","Automobiles MBC","MBC Auto",4047,8...
1048571  2022,"764","Automobiles MBC","MBC Auto",4047,8...
1048572  2022,"764","Automobiles MBC","MBC Auto",4047,8...
1048573  2022,"764","Automobiles MBC","MBC Auto",4047,8...
1048574  2022,"764","Automobiles MBC","MBC Auto",4047,8...

[1048575 rows x 1 columns]

In [12]:
town_directory = pd.read_csv('../Data/Raw/town_directory.csv')
town_directory

,Ortschaftsname,PLZ,Zusatzziffer,Gemeindename,BFS-Nr,Kantonskürzel,E,N,Sprache
0,Lausanne 25,1000,25,Lausanne,5586,VD,542094.8938,157051.9666,fr
1,Lausanne 26,1000,26,Lausanne,5586,VD,543068.1153,156403.0412,fr
2,Lausanne 27,1000,27,Lausanne,5586,VD,541921.1403,154775.3096,fr
3,Lausanne,1003,0,Lausanne,5586,VD,537956.7751,152398.2869,fr
4,Lausanne,1004,0,Lausanne,5586,VD,537089.8121,153349.5648,fr
...,...,...,...,...,...,...,...,...,...
4123,Unterwasser,9657,0,Wildhaus-Alt St. Johann,3359,SG,741690.2129,229037.4686,de
4124,Wildhaus,9658,0,Wildhaus-Alt St. Johann,3359,SG,744861.3314,229854.4341,de
4125,Thunersee,9999,1,Thunersee,9073,BE,621181.5226,170794.5768,de
4126,Brienzersee,9999,2,Brienzersee,9089,BE,640930.6820,175395.8963,de
4127,Bielersee,9999,0,Bielersee (BE),9149,BE,580261.9545,215168.9479,de

In [13]:
inbound_comm = pd.read_excel('../Data/Raw/inbound_comm.xlsx')
inbound_comm

,Zupendlerquote 2000,Unnamed: 1,3561
0,NaN,NaN,NaN
1,NaN,NaN,Anteil der zupendelnden Erwerbstätigen an den ...
2,Regions-ID,Regionsname,NaN
3,NaN,NaN,NaN
4,NaN,Schweiz,58.882161
...,...,...,...
2907,"11 - Mobilität, Verkehr > Pendlermobilität > ...",NaN,NaN
2908,Schweiz / Politische Gemeinden / 5.12.2000,NaN,NaN
2909,NaN,NaN,NaN
2910,Kontakt: statatlas@bfs.admin.ch,NaN,NaN
2911,"© Bundesamt für Statistik, ThemaKart, Neuchâte...",NaN,NaN

In [14]:
outbound_comm = pd.read_excel('../Data/Raw/outbound_comm.xlsx')
outbound_comm

,Wegpendlerquote 2000,Unnamed: 1,3581
0,NaN,NaN,NaN
1,NaN,NaN,Anteil der wegpendelnden Erwerbstätigen an den...
2,Regions-ID,Regionsname,NaN
3,NaN,NaN,NaN
4,NaN,Schweiz,57.259905
...,...,...,...
2907,"11 - Mobilität, Verkehr > Pendlermobilität > ...",NaN,NaN
2908,Schweiz / Politische Gemeinden / 5.12.2000,NaN,NaN
2909,NaN,NaN,NaN
2910,Kontakt: statatlas@bfs.admin.ch,NaN,NaN
2911,"© Bundesamt für Statistik, ThemaKart, Neuchâte...",NaN,NaN

In [15]:
# mminfo("/content/drive/My Drive/MasterThesis/Data/DWV_2017_Strasse_Distanz_CH_2337.mtx") # not working at the moment

In [16]:
# sc.read("/content/drive/My Drive/MasterThesis/Data/DWV_2017_Strasse_Reisezeit_CH_2337.mtx") # not working at the moment

In [17]:
dist_st = pd.read_table("../Data/Raw/DWV_2017_Strasse_Distanz_CH_2337.mtx", encoding="latin-1")
dist_st

             $O;D3
0        * Von Bis
1        0000 0000
2         * Faktor
3             1.00
4              *
...            ...
5463910    7009 ""
5463911    7010 ""
5463912    7011 ""
5463913    7101 ""
5463914    7301 ""

[5463915 rows x 1 columns]

In [18]:
time_st = pd.read_table("../Data/Raw/DWV_2017_Strasse_Reisezeit_CH_2337.mtx", encoding="latin-1")
time_st

             $O;D3
0        * Von Bis
1        0000 0000
2         * Faktor
3             1.00
4              *
...            ...
5463910    7009 ""
5463911    7010 ""
5463912    7011 ""
5463913    7101 ""
5463914    7301 ""

[5463915 rows x 1 columns]

In [19]:
dist_pt = pd.read_table("../Data/Raw/DWV_2017_ÖV_Distanz_CH_2337.mtx", encoding="latin-1")
dist_pt

             $O;D3
0        * Von Bis
1        0000 0000
2         * Faktor
3             1.00
4              *
...            ...
5463910    7009 ""
5463911    7010 ""
5463912    7011 ""
5463913    7101 ""
5463914    7301 ""

[5463915 rows x 1 columns]

In [20]:
time_pt = pd.read_table("../Data/Raw/DWV_2017_ÖV_Reisezeit_CH_2337.mtx", encoding="latin-1")
time_pt

             $O;D3
0        * Von Bis
1        0000 0000
2         * Faktor
3             1.00
4              *
...            ...
5463910    7009 ""
5463911    7010 ""
5463912    7011 ""
5463913    7101 ""
5463914    7301 ""

[5463915 rows x 1 columns]

## **5. Cleaning Data**

### **5.1 Distance + time matrices**

**5.1.1 Street distance**

delete the leading 6 header rows

In [21]:
dist_st.drop(dist_st.index[0:7], inplace=True)
dist_st

                                 $O;D3
7                 1          1  5.326
8                 1          2  5.948
9                 1          3  9.613
10                1          4  8.669
11                1          5  8.191
...                                ...
5463910                        7009 ""
5463911                        7010 ""
5463912                        7011 ""
5463913                        7101 ""
5463914                        7301 ""

[5463908 rows x 1 columns]

In [22]:
dist_st = dist_st["$O;D3"].str.split(expand=True)

In [23]:
dist_st.loc[dist_st[1] == "Netzobjektnamen"]

         0                1     2
5461576  *  Netzobjektnamen  None

In [24]:
dist_st = dist_st.iloc[:5461569, : ]

In [25]:
dist_st.rename(columns = {0: "from", 1: "to", 2: "dist_street"}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [26]:
dist_st

         from    to dist_street
7           1     1       5.326
8           1     2       5.948
9           1     3       9.613
10          1     4       8.669
11          1     5       8.191
...       ...   ...         ...
5461571  7301  7009     200.735
5461572  7301  7010     204.878
5461573  7301  7011     205.223
5461574  7301  7101     278.181
5461575  7301  7301       2.754

[5461569 rows x 3 columns]

**5.1.2 Street time**

In [27]:
time_st.iloc[0:8]

                                         $O;D3
0                                    * Von Bis
1                                    0000 0000
2                                     * Faktor
3                                         1.00
4                                          *
5  * Bundesamt für Raumentwicklung ARE Ittigen
6                                   * 18.03.20
7                         1          1 14.342

delete the leading 6 header rows

In [28]:
time_st.drop(time_st.index[0:7], inplace=True)
time_st

                                 $O;D3
7                 1          1 14.342
8                 1          2 15.830
9                 1          3 20.440
10                1          4 20.096
11                1          5 20.371
...                                ...
5463910                        7009 ""
5463911                        7010 ""
5463912                        7011 ""
5463913                        7101 ""
5463914                        7301 ""

[5463908 rows x 1 columns]

In [29]:
time_st = time_st["$O;D3"].str.split(expand=True)
time_st

            0   1       2
7           1   1  14.342
8           1   2  15.830
9           1   3  20.440
10          1   4  20.096
11          1   5  20.371
...       ...  ..     ...
5463910  7009  ""    None
5463911  7010  ""    None
5463912  7011  ""    None
5463913  7101  ""    None
5463914  7301  ""    None

[5463908 rows x 3 columns]

In [30]:
time_st.loc[time_st[1] == "Netzobjektnamen"]

         0                1     2
5461576  *  Netzobjektnamen  None

In [31]:
time_st = time_st.iloc[:5461569, : ]

In [32]:
time_st.rename(columns = {0: "from", 1: "to", 2: "time_street"}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [33]:
time_st

         from    to time_street
7           1     1      14.342
8           1     2      15.830
9           1     3      20.440
10          1     4      20.096
11          1     5      20.371
...       ...   ...         ...
5461571  7301  7009     133.474
5461572  7301  7010     135.730
5461573  7301  7011     140.941
5461574  7301  7101     218.801
5461575  7301  7301       7.805

[5461569 rows x 3 columns]

**5.1.3 public transport time**

In [34]:
time_pt.iloc[0:8]

                                         $O;D3
0                                    * Von Bis
1                                    0000 0000
2                                     * Faktor
3                                         1.00
4                                          *
5  * Bundesamt für Raumentwicklung ARE Ittigen
6                                   * 18.03.20
7                         1          1 20.483

delete the leading 6 header rows

In [35]:
time_pt.drop(time_pt.index[0:7], inplace=True)
time_pt

                                 $O;D3
7                 1          1 20.483
8                 1          2 24.290
9                 1          3 42.945
10                1          4 36.187
11                1          5 37.729
...                                ...
5463910                        7009 ""
5463911                        7010 ""
5463912                        7011 ""
5463913                        7101 ""
5463914                        7301 ""

[5463908 rows x 1 columns]

In [36]:
time_pt = time_pt["$O;D3"].str.split(expand=True)
time_pt

            0   1       2
7           1   1  20.483
8           1   2  24.290
9           1   3  42.945
10          1   4  36.187
11          1   5  37.729
...       ...  ..     ...
5463910  7009  ""    None
5463911  7010  ""    None
5463912  7011  ""    None
5463913  7101  ""    None
5463914  7301  ""    None

[5463908 rows x 3 columns]

In [37]:
time_pt.loc[time_pt[1] == "Netzobjektnamen"]

         0                1     2
5461576  *  Netzobjektnamen  None

In [38]:
time_pt = time_pt.iloc[:5461569, : ]

In [39]:
time_pt.rename(columns = {0: "from", 1: "to", 2: "time_pt"}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [40]:
time_pt

         from    to  time_pt
7           1     1   20.483
8           1     2   24.290
9           1     3   42.945
10          1     4   36.187
11          1     5   37.729
...       ...   ...      ...
5461571  7301  7009  302.505
5461572  7301  7010  310.881
5461573  7301  7011  319.149
5461574  7301  7101  275.675
5461575  7301  7301   14.917

[5461569 rows x 3 columns]

**5.1.4 public transport distance**

In [41]:
dist_pt.iloc[0:8]

                                         $O;D3
0                                    * Von Bis
1                                    0000 0000
2                                     * Faktor
3                                         1.00
4                                          *
5  * Bundesamt für Raumentwicklung ARE Ittigen
6                                   * 18.03.20
7                         1          1  4.183

delete the leading 6 header rows

In [42]:
dist_pt.drop(dist_pt.index[0:7], inplace=True)
dist_pt

                                 $O;D3
7                 1          1  4.183
8                 1          2  6.062
9                 1          3 11.986
10                1          4  9.970
11                1          5  8.778
...                                ...
5463910                        7009 ""
5463911                        7010 ""
5463912                        7011 ""
5463913                        7101 ""
5463914                        7301 ""

[5463908 rows x 1 columns]

In [43]:
dist_pt = dist_pt["$O;D3"].str.split(expand=True)
dist_pt

            0   1       2
7           1   1   4.183
8           1   2   6.062
9           1   3  11.986
10          1   4   9.970
11          1   5   8.778
...       ...  ..     ...
5463910  7009  ""    None
5463911  7010  ""    None
5463912  7011  ""    None
5463913  7101  ""    None
5463914  7301  ""    None

[5463908 rows x 3 columns]

In [44]:
dist_pt.loc[dist_pt[1] == "Netzobjektnamen"]

         0                1     2
5461576  *  Netzobjektnamen  None

In [45]:
dist_pt = dist_pt.iloc[:5461569, : ]

In [46]:
dist_pt.rename(columns = {0: "from", 1: "to", 2: "dist_pt"}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [47]:
dist_pt

         from    to  dist_pt
7           1     1    4.183
8           1     2    6.062
9           1     3   11.986
10          1     4    9.970
11          1     5    8.778
...       ...   ...      ...
5461571  7301  7009  257.160
5461572  7301  7010  253.233
5461573  7301  7011  256.255
5461574  7301  7101  242.097
5461575  7301  7301    0.229

[5461569 rows x 3 columns]

**5.1.5 Joining distance tables**

In [48]:
dist = dist_st

In [49]:
dist_st["dist_pt"] = dist_pt["dist_pt"]

In [50]:
dist_st["time_st"] = time_st["time_street"]

In [51]:
dist_st["time_pt"] = time_pt["time_pt"]

In [52]:
dist

         from    to dist_street  dist_pt  time_st  time_pt
7           1     1       5.326    4.183   14.342   20.483
8           1     2       5.948    6.062   15.830   24.290
9           1     3       9.613   11.986   20.440   42.945
10          1     4       8.669    9.970   20.096   36.187
11          1     5       8.191    8.778   20.371   37.729
...       ...   ...         ...      ...      ...      ...
5461571  7301  7009     200.735  257.160  133.474  302.505
5461572  7301  7010     204.878  253.233  135.730  310.881
5461573  7301  7011     205.223  256.255  140.941  319.149
5461574  7301  7101     278.181  242.097  218.801  275.675
5461575  7301  7301       2.754    0.229    7.805   14.917

[5461569 rows x 6 columns]

**5.1.6 Write distance csv**

In [53]:
dist.to_csv("../Data/Cleaned/distances.csv")

### **5.2 Stop count list**

In [54]:
stop_count[:2]

  FP_ID,"TU_CODE","TU_BEZEICHNUNG","TU_ABKUERZUNG","FARTNUMMER","BPUIC","BP_BEZEICHNUNG","BP_ABKUERZUNG","KANTON","SLOID","VM_ART","FAHRTAGE","AB_ZEIT_KB","AN_ZEIT_KB","RICHTUNG_TEXT_AGGREGIERT","END_BP_BEZEICHNUNG","LINIE","BP_ID"
0  2022,"101","Verkehrsbetriebe Biel","VB-be",230...
1  2022,"101","Verkehrsbetriebe Biel","VB-be",230...

This table was not splitted when read. So it must be splitted, first after each ' " '

**5.2.1 Splitting stop count table**

In [55]:
stop_count_expand = stop_count.iloc[:,0].str.split(pat='"', expand=True) # 
stop_count_expand[:2]

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,"2022,",101,",",Verkehrsbetriebe Biel,",",VB-be,",23000,8504351,",Biel/Bienne Beaumont,",",,...,FUN,",",359,",01.01.1970 05:58:00,01.01.1970 05:58:00,",,",",Evilard/Leubringen,",",23,",138747"
1,"2022,",101,",",Verkehrsbetriebe Biel,",",VB-be,",23000,8504350,",Biel/Bienne Leubringenb.(Funi),",",,...,FUN,",",359,",01.01.1970 05:55:00,,",,",",Evilard/Leubringen,",",23,",123038"

Some columns contain only commas or are empty at all. These can be deleted in a next step.

**5.2.2 Deleting unneccessary columns**

In [56]:
stop_count_expand.drop([2, 4, 8, 9, 10, 12, 14, 16, 19, 20, 22], axis=1, inplace=True) # dropping comma and empty columns

**5.2.3 Renaming the columns**

In [57]:
stop_count_expand.rename(columns={0: "year", 1: "comp_Nr.", 3: "comp_name", 5: "comp_short", 6: "id_numbers", 7:"stat_name", 11: "canton", 13: "SLOID", 15: "tr_type", 17: "nr_days", 18: "schedule_time", 21: "end_st", 23: "line", 24:"BP_ID"}, inplace=True)
stop_count_expand[:2]

,year,comp_Nr.,comp_name,comp_short,id_numbers,stat_name,canton,SLOID,tr_type,nr_days,schedule_time,end_st,line,BP_ID
0,"2022,",101,Verkehrsbetriebe Biel,VB-be,",23000,8504351,",Biel/Bienne Beaumont,BE,ch:1:sloid:4351,FUN,359,",01.01.1970 05:58:00,01.01.1970 05:58:00,",Evilard/Leubringen,23,",138747"
1,"2022,",101,Verkehrsbetriebe Biel,VB-be,",23000,8504350,",Biel/Bienne Leubringenb.(Funi),BE,ch:1:sloid:4350,FUN,359,",01.01.1970 05:55:00,,",Evilard/Leubringen,23,",123038"

Now we see that there are many columns which must be cleaned in a next step. Some contains unneccessary commas, other must be splitted again.

**5.2.4 Cleaning all columns**

In [58]:
# column "year": contains unneccessary comma
stop_count_expand["year"] = stop_count_expand["year"].str.split(pat=',', expand=True)[0] # remove ","

In [59]:
# column "id_numbers": Contains two values, ride id and stop id, needs to be separated
stop_count_expand["ride_id"] = stop_count_expand["id_numbers"].str.split(pat=',', expand=True)[[1]] # first number is ride identification number
stop_count_expand["stop_id"] = stop_count_expand["id_numbers"].str.split(pat=',', expand=True)[[2]] # second number is stop identification number
stop_count_expand.drop("id_numbers", axis=1, inplace=True) # remove id_numbers column which is not needed anymore

In [60]:
# column "schedule_time": Contains Departure and arrival time, needs to be separated
stop_count_expand["arr_time"] = stop_count_expand["schedule_time"].str.split(pat=',', expand=True)[[1]] # first number is arrival
stop_count_expand["dep_time"] = stop_count_expand["schedule_time"].str.split(pat=',', expand=True)[[2]] # second number is departure
stop_count_expand.drop("schedule_time", axis=1, inplace=True) # remove id_numbers column which is not needed anymore

# only time is needed
stop_count_expand["arr_time"] = pd.to_datetime(stop_count_expand["arr_time"])
stop_count_expand["dep_time"] = pd.to_datetime(stop_count_expand["dep_time"])

In [61]:
# column "BP_ID": contains leading comma
stop_count_expand["BP_ID"] = stop_count_expand["BP_ID"].str.split(pat=',', expand=True)[0] # remove ","

In [62]:
stop_count_expand[:2]

,year,comp_Nr.,comp_name,comp_short,stat_name,canton,SLOID,tr_type,nr_days,end_st,line,BP_ID,ride_id,stop_id,arr_time,dep_time
0,2022,101,Verkehrsbetriebe Biel,VB-be,Biel/Bienne Beaumont,BE,ch:1:sloid:4351,FUN,359,Evilard/Leubringen,23,,23000,8504351,1970-01-01 05:58:00,1970-01-01 05:58:00
1,2022,101,Verkehrsbetriebe Biel,VB-be,Biel/Bienne Leubringenb.(Funi),BE,ch:1:sloid:4350,FUN,359,Evilard/Leubringen,23,,23000,8504350,1970-01-01 05:55:00,NaT

There are different ID's here. To specify one primary key, we only need the combination of "ride ID" and "stop ID". The combination of both occurs only once in a table. The SLOID and BP ID can be ignored and therefore deleted.

In [63]:
stop_count_expand.drop(["SLOID", "BP_ID"], axis=1, inplace=True) # remove SLOID and BP_ID columns which are not needed anymore

In [64]:
stop_count_expand[:2]

,year,comp_Nr.,comp_name,comp_short,stat_name,canton,tr_type,nr_days,end_st,line,ride_id,stop_id,arr_time,dep_time
0,2022,101,Verkehrsbetriebe Biel,VB-be,Biel/Bienne Beaumont,BE,FUN,359,Evilard/Leubringen,23,23000,8504351,1970-01-01 05:58:00,1970-01-01 05:58:00
1,2022,101,Verkehrsbetriebe Biel,VB-be,Biel/Bienne Leubringenb.(Funi),BE,FUN,359,Evilard/Leubringen,23,23000,8504350,1970-01-01 05:55:00,NaT

Now the table seems to be ok and could be written into a csv. Here I don't need all the attributes at the moment, wherefore in the next step, some will be deleted.

The are kept here to maintain the possibility to continue later on with more data

#### **5.2.5 Relevant attributes**

At the end only a reduced table, containing the attributes "ride ID", "station ID" and "nr_daysr" are needed! The other columns can be deleted therefore here.

In [65]:
stop_count_reduced = stop_count_expand[["ride_id", "stop_id", "nr_days"]]
stop_count_reduced

        ride_id  stop_id nr_days
0         23000  8504351     359
1         23000  8504350     359
2         23000  8504352     359
3         23001  8504351     359
4         23001  8504350     359
...         ...      ...     ...
1048570    4047  8592258     254
1048571    4047  8592261     254
1048572    4047  8570091     254
1048573    4047  8570084     254
1048574    4047  8592268     254

[1048575 rows x 3 columns]

**5.2.7 Writing stop_count csv**

Write table now to google drive.

In [66]:
stop_count_reduced.to_csv("../Data/Cleaned/stop_count.csv", index=False)

### **5.3 Public stations list**

In [67]:
stations[:7]

,Dst-Nr85,Ld,Dst-Nr,KZ,Name,Länge,Name lang,Dst-Abk,BP,VP,...,Ortschaft,Gde-Nr,Gemeinde,Kt.,E-Koord.,N-Koord.,Höhe,Bemerkungen,Karte,Karte.1
0,N° sv.85,py,N° sv.,Cc,Nom (ordre alphab.),Longueur,Nom long,Sigle sv.,PE,PT,...,Localité,N° commune,Commune,Ct.,Coord. E,Coord. N,Altitude,Remarque,Carte,Carte
1,Dienststellen-\nNummer siebenstellig,Ländercode,Dienststellen-\nNummer (85...),Kontrollziffer (o.Ld),Name \n(Dst-Bezeichnung),Länge (Name),Name lang \n(50 Zeichen),Dienststellen-\nAbkürzung,Betriebspunkt des Fahrplans,Haltestelle,...,Ortschaft,Gemeinde-\nNummer BFS,Gemeinde,Kanton,E-Koordinate,N-Koordinate,Höhe m ü.M.,Bemerkungen,Hyperlink auf \nmapsearch.ch,Hyperlink auf \nmap.geo.admin.ch
2,NaN,NaN,NaN,NaN,"Datenstand am 24.02.2022, Auszug für 24.02.2022",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,▲,▲
3,8506013,85,6013,7,Aadorf,6,NaN,AD,*,Ho,...,Aadorf,4551,Aadorf,TG,2710378,1260736,528,NaN,▲,▲
4,8573363,85,73363,4,"Aadorf, Bahnhof",15,NaN,NaN,*,Ho,...,Aadorf,4551,Aadorf,TG,2710335,1260768,528,NaN,▲,▲
5,8576958,85,76958,8,"Aadorf, Matthofstrasse",22,NaN,NaN,*,Ho,...,Aadorf,4551,Aadorf,TG,2710483,1260407,531,NaN,▲,▲
6,8506853,85,6853,6,"Aadorf, Morgental",17,NaN,NaN,*,Ho,...,Aadorf,4551,Aadorf,TG,2709827,1261373,517,NaN,▲,▲

The first three rows are not usable, therefore I can delete them:

In [68]:
stations.drop([0, 1, 2], axis=0, inplace=True)

In [69]:
stations[:2]

,Dst-Nr85,Ld,Dst-Nr,KZ,Name,Länge,Name lang,Dst-Abk,BP,VP,...,Ortschaft,Gde-Nr,Gemeinde,Kt.,E-Koord.,N-Koord.,Höhe,Bemerkungen,Karte,Karte.1
3,8506013,85,6013,7,Aadorf,6,NaN,AD,*,Ho,...,Aadorf,4551,Aadorf,TG,2710378,1260736,528,NaN,▲,▲
4,8573363,85,73363,4,"Aadorf, Bahnhof",15,NaN,NaN,*,Ho,...,Aadorf,4551,Aadorf,TG,2710335,1260768,528,NaN,▲,▲

In [70]:
stations[-5:]

,Dst-Nr85,Ld,Dst-Nr,KZ,Name,Länge,Name lang,Dst-Abk,BP,VP,...,Ortschaft,Gde-Nr,Gemeinde,Kt.,E-Koord.,N-Koord.,Höhe,Bemerkungen,Karte,Karte.1
49998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,▲,▲
49999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,▲,▲
50000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,▲,▲
50001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,▲,▲
50002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,▲,▲

**5.3.1 Remove undesired columns and NA rows**

Many rows seem to have "NA" values and the last two columns are not usable. Lets delete first the two columns and afterwards the rows with only NaN:

In [71]:
stations.drop(["Karte", "Karte.1"], axis=1, inplace=True)

In [72]:
stations.dropna(axis=0, how='all', inplace=True) # drop rows with all NA

In [73]:
len(stations) # number of rows!

28388

Now more than 20000 rows have been deleted which is good!

In [74]:
stations.describe()

,Dst-Nr85,Ld,Dst-Nr,KZ,Name,Länge,Name lang,Dst-Abk,BP,VP,...,GO-Nr,GO-Abk,Ortschaft,Gde-Nr,Gemeinde,Kt.,E-Koord.,N-Koord.,Höhe,Bemerkungen
count,28388,28388,28388,28388,28388,28388,401,4303,28388,26785,...,28388,28388,28035,28014,28014,27834,28388,28388,28380,3670
unique,28388,1,28388,10,28388,29,401,4303,1,6,...,494,494,3769,2121,2123,26,26631,25950,2158,1916
top,8506013,85,6013,8,Aadorf,18,"Abtwil SG, Dufourpark",AD,*,Ho,...,801,PAG,Zürich,261,Zürich,BE,2500400,1259400,435,(Zug)
freq,1,28388,1,2867,1,2072,1,1,28388,25775,...,10014,10014,560,561,561,3865,4,6,230,811

**5.3.2 Deleting unneccessary columns**

According to the ER model, only Station ID, name & status; canton, BFS Nr. and locality; transport type & company as well as coordinates are needed. Therefore, the other columns will be deleted:

In [75]:
stations_reduced = stations[["Dst-Nr85", "Name", "Status", "Kt.", "Gde-Nr", "Ortschaft", "Verkehrsmittel", "TU-Abk", "E-Koord.", "N-Koord."]]

In [76]:
stations_reduced

,Dst-Nr85,Name,Status,Kt.,Gde-Nr,Ortschaft,Verkehrsmittel,TU-Abk,E-Koord.,N-Koord.
3,8506013,Aadorf,3,TG,4551,Aadorf,Zug,SBB,2710378,1260736
4,8573363,"Aadorf, Bahnhof",3,TG,4551,Aadorf,Bus,PAG,2710335,1260768
5,8576958,"Aadorf, Matthofstrasse",3,TG,4551,Aadorf,Bus,PAG,2710483,1260407
6,8506853,"Aadorf, Morgental",3,TG,4551,Aadorf,Bus,PAG,2709827,1261373
7,8573362,"Aadorf, Zentrum",3,TG,4551,Aadorf,Bus,PAG,2710079,1261060
...,...,...,...,...,...,...,...,...,...,...
28386,8591218,"Zürich,Kalkbreite/Bhf.Wiedikon",3,ZH,261,Zürich,Bus_Tram,VBZ,2681770,1247629
28387,8503653,Zürichhorn (See),3,ZH,261,Zürich,Schiff,ZSG,2684205,1245239
28388,8530528,Älpli,3,GR,3954,Malans GR,Kabinenbahn,AMG,2763452,1209076
28389,8518708,Äuli (B),3,GR,3861,Fideris,NaN,RhB,2776150,1199237
28390,8518838,Überlingen,3,NaN,NaN,NaN,Zug,DB,2729242,1292368

**5.3.3 Writing stations csv**

Write table now to google drive.

In [77]:
stations_reduced.to_csv("../Data/Cleaned/stations.csv", index=False)

### **5.3 Population list**

In [78]:
population[:4]

,Unnamed: 0,Total,Schweiz,Ausland,Mann,Frau,0-4,5-9,10-14,15-19,...,80-84,85-89,90 und mehr,Ledig,Verheiratet,Verwitwet,Geschieden,Unverheiratet,In eingetrage-ner Partner-schaft,Aufgelöste Partnerschaft
0,Schweiz,8670300.0,6459512.0,2210788.0,4302599.0,4367701.0,437118.0,439685.0,429468.0,420030.0,...,227086.0,147174.0,84029.0,3903333.0,3588894.0,403471.0,751735.0,617.0,19022.0,2981.0
1,1000,3991.0,2379.0,1612.0,1957.0,2034.0,208.0,179.0,219.0,559.0,...,50.0,27.0,14.0,2378.0,1307.0,81.0,217.0,0.0,7.0,1.0
2,1003,6528.0,3555.0,2973.0,3290.0,3238.0,265.0,187.0,190.0,206.0,...,85.0,55.0,56.0,4101.0,1628.0,178.0,556.0,1.0,59.0,5.0
3,1004,31084.0,17927.0,13157.0,15075.0,16009.0,1464.0,1230.0,1164.0,1252.0,...,751.0,533.0,363.0,17350.0,9284.0,1261.0,3028.0,7.0,127.0,25.0

Sum row on top is not necessary => dropping

In [79]:
population.drop(0, inplace = True)

In [80]:
population[3180:3187]

,Unnamed: 0,Total,Schweiz,Ausland,Mann,Frau,0-4,5-9,10-14,15-19,...,80-84,85-89,90 und mehr,Ledig,Verheiratet,Verwitwet,Geschieden,Unverheiratet,In eingetrage-ner Partner-schaft,Aufgelöste Partnerschaft
3181,9657,714.0,641.0,73.0,358.0,356.0,30.0,44.0,37.0,35.0,...,19.0,10.0,8.0,293.0,313.0,40.0,68.0,0.0,0.0,0.0
3182,9658,1272.0,1101.0,171.0,654.0,618.0,60.0,67.0,51.0,60.0,...,44.0,27.0,15.0,522.0,549.0,88.0,112.0,0.0,1.0,0.0
3183,1 Serienbruch ab 2014: Exkl. „ohne Angabe“,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3184,Quelle: STATPOP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3185,© BFS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3186,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3187,"Auskunft: Bundesamt für Statistik (BFS), Sekti...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Last 5 rows are of no value => dropping

In [81]:
population = population[:-5]

Only total population number is relevant. However, a foreigner quote and a female quote are calculated out of the data and integrated.

In [82]:
population["foreigner_share"] = population["Ausland"] / population["Total"]
population["female_share"] = population["Frau"] / population["Total"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [83]:
population.drop(["Schweiz", "Ausland"], axis=1, inplace=True)
population.drop(["Mann", "Frau"], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [84]:
population[:2]

,Unnamed: 0,Total,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,...,90 und mehr,Ledig,Verheiratet,Verwitwet,Geschieden,Unverheiratet,In eingetrage-ner Partner-schaft,Aufgelöste Partnerschaft,foreigner_share,female_share
1,1000,3991.0,208.0,179.0,219.0,559.0,553.0,245.0,222.0,224.0,...,14.0,2378.0,1307.0,81.0,217.0,0.0,7.0,1.0,0.403909,0.509647
2,1003,6528.0,265.0,187.0,190.0,206.0,417.0,867.0,945.0,712.0,...,56.0,4101.0,1628.0,178.0,556.0,1.0,59.0,5.0,0.455423,0.496017

For the age groups, classes are built with respective quotes as the following:
- From 0 to 20
- From 25 to 40
- From 40 to 60
- Above 60

In [85]:
population["<20"] = (population["0-4"] + population["5-9"] + population["10-14"] + population["15-19"]) / population["Total"]
population["20-40"] = (population["20-24"] + population["25-29"] + population["30-34"] + population["35-39"]) / population["Total"]
population["40-60"] = (population["40-44"] + population["45-49"] + population["50-54"] + population["55-59"]) / population["Total"]
population[">60"] = (population["60-64"] + population["65-69"] + population["70-74"] + population["75-79"] + 
                     population["80-84"] + population["85-89"] + population["90 und mehr"]) / population["Total"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [86]:
population[:2]

,Unnamed: 0,Total,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,...,Geschieden,Unverheiratet,In eingetrage-ner Partner-schaft,Aufgelöste Partnerschaft,foreigner_share,female_share,<20,20-40,40-60,>60
1,1000,3991.0,208.0,179.0,219.0,559.0,553.0,245.0,222.0,224.0,...,217.0,0.0,7.0,1.0,0.403909,0.509647,0.291907,0.311701,0.251566,0.144826
2,1003,6528.0,265.0,187.0,190.0,206.0,417.0,867.0,945.0,712.0,...,556.0,1.0,59.0,5.0,0.455423,0.496017,0.129902,0.450521,0.276195,0.143382

Now all the age columns can be deleted

In [87]:
population.drop(["0-4", "5-9","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49",
                 "50-54", "55-59", "60-64", "65-69", "70-74", "75-79", "80-84", "85-89","90 und mehr"], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

All the other columns concerning marital status are considered as not relevant and can therefore be deleted here

In [88]:
population.drop(["Ledig", "Verheiratet", "Verwitwet", "Geschieden", "Unverheiratet", "In eingetrage-ner Partner-schaft", "Aufgelöste Partnerschaft"], axis=1, inplace=True)

In [89]:
population[:2]

,Unnamed: 0,Total,foreigner_share,female_share,<20,20-40,40-60,>60
1,1000,3991.0,0.403909,0.509647,0.291907,0.311701,0.251566,0.144826
2,1003,6528.0,0.455423,0.496017,0.129902,0.450521,0.276195,0.143382

Now it looks very useful, only renaming of the first two columns is necessary

In [90]:
population.rename(columns={"Unnamed: 0": "PLZ", "Total": "pop_number"}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [91]:
population[:2]

,PLZ,pop_number,foreigner_share,female_share,<20,20-40,40-60,>60
1,1000,3991.0,0.403909,0.509647,0.291907,0.311701,0.251566,0.144826
2,1003,6528.0,0.455423,0.496017,0.129902,0.450521,0.276195,0.143382

In [92]:
population.sort_values(by=["<20"])

,PLZ,pop_number,foreigner_share,female_share,<20,20-40,40-60,>60
1576,5017,10.0,0.400000,0.500000,0.000000,0.500000,0.200000,0.300000
1317,4101,58.0,0.913793,0.310345,0.000000,0.431034,0.465517,0.103448
2341,7182,13.0,0.000000,0.461538,0.000000,0.076923,0.307692,0.615385
2337,7174,19.0,0.000000,0.421053,0.000000,0.105263,0.105263,0.789474
2512,7710,3.0,0.333333,0.666667,0.000000,0.000000,1.000000,0.000000
...,...,...,...,...,...,...,...,...
2475,7517,9.0,0.111111,0.333333,0.333333,0.555556,0.000000,0.111111
520,1824,760.0,0.834211,0.623684,0.356579,0.505263,0.073684,0.064474
1992,6485,61.0,0.016393,0.491803,0.360656,0.163934,0.229508,0.245902
549,1885,1676.0,0.653938,0.492840,0.373508,0.169451,0.233890,0.223150
141,1215,10.0,1.000000,0.400000,0.400000,0.100000,0.500000,0.000000

In [93]:
population[population["pop_number"]>1000].sort_values(by="foreigner_share")

,PLZ,pop_number,foreigner_share,female_share,<20,20-40,40-60,>60
1091,3537,1872.0,0.017094,0.491453,0.237714,0.222222,0.256944,0.283120
1141,3664,1108.0,0.028881,0.500000,0.194043,0.194043,0.326715,0.285199
1087,3533,1232.0,0.030032,0.498377,0.220779,0.222403,0.303571,0.253247
1108,3615,1484.0,0.030323,0.497978,0.221024,0.205526,0.304582,0.268868
1856,6166,1742.0,0.031573,0.478186,0.216418,0.255454,0.289897,0.238232
...,...,...,...,...,...,...,...,...
2652,8280,22449.0,0.552987,0.496637,0.177959,0.280235,0.291104,0.250702
1246,3929,1345.0,0.588104,0.489963,0.208178,0.301115,0.336803,0.153903
128,1200,5206.0,0.609297,0.411640,0.089128,0.363427,0.360546,0.186900
1284,3975,1563.0,0.638516,0.507358,0.220729,0.468970,0.136916,0.173385
549,1885,1676.0,0.653938,0.492840,0.373508,0.169451,0.233890,0.223150

In [94]:
population.to_csv("../Data/Cleaned/population_clean.csv")

### **5.4 Commuter share list**

**5.4.1 Prepare Inbound Data**

In [95]:
inbound_comm[:7] ## First 4 rows can be deleted

,Zupendlerquote 2000,Unnamed: 1,3561
0,NaN,NaN,NaN
1,NaN,NaN,Anteil der zupendelnden Erwerbstätigen an den ...
2,Regions-ID,Regionsname,NaN
3,NaN,NaN,NaN
4,NaN,Schweiz,58.882161
5,1,Aeugst am Albis,47.699758
6,2,Affoltern am Albis,59.777951

In [96]:
inbound_comm.drop([0, 1, 2, 3, 4], axis=0, inplace=True)

In [97]:
inbound_comm[-15:] # after line 2900, no more value is generated => Dropping last lines!

,Zupendlerquote 2000,Unnamed: 1,3561
2897,6803,Rocourt,6.451613
2898,6804,Saint-Ursanne,68.100358
2899,6805,Seleute,20
2900,6806,Vendlincourt,44.978166
2901,NaN,NaN,NaN
2902,Erhebungszeitpunkte/ -zeiträume:,NaN,5.12.2000
2903,Quelle(n):,NaN,"BFS – Eidgenössische Volkszählung, 1850-2000 (VZ)"
2904,NaN,NaN,NaN
2905,NaN,NaN,NaN
2906,Statistischer Atlas der Schweiz,NaN,NaN
2907,"11 - Mobilität, Verkehr > Pendlermobilität > ...",NaN,NaN
2908,Schweiz / Politische Gemeinden / 5.12.2000,NaN,NaN
2909,NaN,NaN,NaN
2910,Kontakt: statatlas@bfs.admin.ch,NaN,NaN
2911,"© Bundesamt für Statistik, ThemaKart, Neuchâte...",NaN,NaN

In [98]:
inbound_comm.drop(list(range(2901,2912)), axis=0, inplace=True)

Columns must be renamed

In [99]:
inbound_comm.rename({"Zupendlerquote 2000":"BFS_Nr", "Unnamed: 1":"municipality", 3561:"inbound share %"}, axis=1, inplace=True)

In [100]:
inbound_comm

     BFS_Nr        municipality inbound share %
5         1     Aeugst am Albis       47.699758
6         2  Affoltern am Albis       59.777951
7         3          Bonstetten       48.221344
8         4     Hausen am Albis       42.020666
9         5            Hedingen       69.798658
...     ...                 ...             ...
2896   6802          Roche-d'Or               0
2897   6803             Rocourt        6.451613
2898   6804       Saint-Ursanne       68.100358
2899   6805             Seleute              20
2900   6806        Vendlincourt       44.978166

[2896 rows x 3 columns]

**5.4.2 Add Outbound Data**

The outbound table does have the exact same structure and can therefore be treated the same way

In [101]:
outbound_comm.drop([0, 1, 2, 3, 4], axis=0, inplace=True)
outbound_comm.drop(list(range(2901,2912)), axis=0, inplace=True)
outbound_comm.rename({"Wegpendlerquote 2000":"BFS_Nr", "Unnamed: 1":"municipality", 3581:"outbound share %"}, axis=1, inplace=True)

In [102]:
outbound_comm

     BFS_Nr        municipality outbound share %
5         1     Aeugst am Albis        75.757576
6         2  Affoltern am Albis        62.358731
7         3          Bonstetten        82.860881
8         4     Hausen am Albis        70.467836
9         5            Hedingen         75.34997
...     ...                 ...              ...
2896   6802          Roche-d'Or        13.333333
2897   6803             Rocourt        61.842105
2898   6804       Saint-Ursanne        49.142857
2899   6805             Seleute        33.333333
2900   6806        Vendlincourt               55

[2896 rows x 3 columns]

Now the outbound share can easily be added to the inbound_commuters table

In [103]:
commuters = inbound_comm

In [104]:
commuters["outbound share %"] = outbound_comm["outbound share %"]
commuters

     BFS_Nr        municipality inbound share % outbound share %
5         1     Aeugst am Albis       47.699758        75.757576
6         2  Affoltern am Albis       59.777951        62.358731
7         3          Bonstetten       48.221344        82.860881
8         4     Hausen am Albis       42.020666        70.467836
9         5            Hedingen       69.798658         75.34997
...     ...                 ...             ...              ...
2896   6802          Roche-d'Or               0        13.333333
2897   6803             Rocourt        6.451613        61.842105
2898   6804       Saint-Ursanne       68.100358        49.142857
2899   6805             Seleute              20        33.333333
2900   6806        Vendlincourt       44.978166               55

[2896 rows x 4 columns]

**5.4.3 Write Commuters Table**

In [105]:
commuters.to_csv("../Data/Cleaned/commuters.csv")

## **6. Joining temporary entities**

In the case of the stop list cleaned and the distances, the desired goal entities for the database can only be reached if several original tables are joined together.

This will be done in this chapter, using already cleaned data from chapter 5.

### **6.1 Stop list cleaned**

For the stop list, the nr_days attribute of the stop_count list has to be added to the stations table.

Let's have a look first at the different tables:

In [106]:
stations = pd.read_csv("../Data/Cleaned/stations.csv")
stations[:3]

,Dst-Nr85,Name,Status,Kt.,Gde-Nr,Ortschaft,Verkehrsmittel,TU-Abk,E-Koord.,N-Koord.
0,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736
1,8573363,"Aadorf, Bahnhof",3,TG,4551.0,Aadorf,Bus,PAG,2710335,1260768
2,8576958,"Aadorf, Matthofstrasse",3,TG,4551.0,Aadorf,Bus,PAG,2710483,1260407

In [107]:
stations_stops = pd.read_csv("../Data/Cleaned/stop_count.csv")
stations_stops[:3]

   ride_id  stop_id  nr_days
0    23000  8504351      359
1    23000  8504350      359
2    23000  8504352      359

In [108]:
stations_stops.loc[stations_stops["ride_id"] == 8503530]

Empty DataFrame
Columns: [ride_id, stop_id, nr_days]
Index: []

For the joining, the name of the column should be identically:

In [109]:
stations_stops.rename(columns={"stop_id":"Dst-Nr85"}, inplace=True)

In [110]:
stations_stops[["Dst-Nr85"]].describe()

           Dst-Nr85
count  1.048575e+06
mean   8.567928e+06
std    3.694879e+04
min    8.500010e+06
25%    8.530749e+06
50%    8.590442e+06
75%    8.592103e+06
max    8.596124e+06

**6.1.1 Overview station types**

In [111]:
stations[["Verkehrsmittel"]].value_counts()

Verkehrsmittel
Bus                                     22756
Zug                                      1786
Sesselbahn                                596
Kabinenbahn                               498
Bus_Tram                                  392
Schiff                                    369
Tram                                      133
Standseilbahn                             121
Zahnradbahn                                59
Bus_Metro                                  17
Metro                                      10
Kabinenbahn_Standseilbahn                   8
Zug_Bus                                     7
Bus_Standseilbahn                           6
Aufzug                                      4
Bus_Kabinenbahn                             3
Zug_Bus_Tram                                3
Zug_Tram                                    3
Kabinenbahn_Sesselbahn                      2
Zug_Kabinenbahn                             2
Zug_Standseilbahn                           2
Kabinenbahn_Zahnradbahn                     1
Schiff_Standseilbahn                        1
Schiff_Zahnradbahn                          1
Kabinenbahn_Sesselbahn_Zahnradbahn          1
Kabinenbahn_Sesselbahn_Standseilbahn        1
Bus_Tram_Zahnradbahn                        1
Bus_Tram_Standseilbahn                      1
Zug_Metro                                   1
dtype: int64

Obviously, there are many different transport types possible! Also many combinations are possible. At the end I only want to have 3 categories: train, bus and rest. So I will set the following categories as "train":
- "Zug", "Standseilbahn", "Zahnradbahn", "Zug_... "(different categories), "Metro"
Additionnally, I will then match the following categories to "bus":
- "Bus", "Tram" (similar to bus than to train), "Bus_... "(different categories)

All the rest will go into the "rest" category.

Now I will perform this classification in the next step:

In [113]:
Zug = ["Zug", "Standseilbahn", "Zahnradbahn", "Zug_Metro", 
       "Zug_Standseilbahn", "Zug_Kabinenbahn", "Zug_Tram",
       "Zug_Bus_Tram", "Zug_Bus", "Metro"]
         
Bus = ["Bus", "Tram", "Bus_Tram_Standseilbahn", "Bus_Tram_Zahnradbahn", 
       "Bus_Kabinenbahn", "Bus_Standseilbahn", "Bus_Metro", "Bus_Tram"]

In [114]:
for i, row in stations.iterrows():
  ifor_val = "Other"
  if row["Verkehrsmittel"] in Zug:
    ifor_val = "Zug"
  if row["Verkehrsmittel"] in Bus:
    ifor_val = "Bus"

  stations.at[i, 'tp_means'] = ifor_val

In [115]:
stations

,Dst-Nr85,Name,Status,Kt.,Gde-Nr,Ortschaft,Verkehrsmittel,TU-Abk,E-Koord.,N-Koord.,tp_means
0,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736,Zug
1,8573363,"Aadorf, Bahnhof",3,TG,4551.0,Aadorf,Bus,PAG,2710335,1260768,Bus
2,8576958,"Aadorf, Matthofstrasse",3,TG,4551.0,Aadorf,Bus,PAG,2710483,1260407,Bus
3,8506853,"Aadorf, Morgental",3,TG,4551.0,Aadorf,Bus,PAG,2709827,1261373,Bus
4,8573362,"Aadorf, Zentrum",3,TG,4551.0,Aadorf,Bus,PAG,2710079,1261060,Bus
...,...,...,...,...,...,...,...,...,...,...,...
28383,8591218,"Zürich,Kalkbreite/Bhf.Wiedikon",3,ZH,261.0,Zürich,Bus_Tram,VBZ,2681770,1247629,Bus
28384,8503653,Zürichhorn (See),3,ZH,261.0,Zürich,Schiff,ZSG,2684205,1245239,Other
28385,8530528,Älpli,3,GR,3954.0,Malans GR,Kabinenbahn,AMG,2763452,1209076,Other
28386,8518708,Äuli (B),3,GR,3861.0,Fideris,NaN,RhB,2776150,1199237,Other
28387,8518838,Überlingen,3,NaN,NaN,NaN,Zug,DB,2729242,1292368,Zug

**6.1.1 Join "nr_days" to stations**

In [116]:
stop_list_cleaned = stations.merge(stations_stops, on="Dst-Nr85")

In [117]:
stop_list_cleaned

,Dst-Nr85,Name,Status,Kt.,Gde-Nr,Ortschaft,Verkehrsmittel,TU-Abk,E-Koord.,N-Koord.,tp_means,ride_id,nr_days
0,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736,Zug,19215,255
1,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736,Zug,19219,255
2,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736,Zug,19220,255
3,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736,Zug,19223,255
4,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736,Zug,19224,255
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047896,8503653,Zürichhorn (See),3,ZH,261.0,Zürich,Schiff,ZSG,2684205,1245239,Other,3037,62
1047897,8503653,Zürichhorn (See),3,ZH,261.0,Zürich,Schiff,ZSG,2684205,1245239,Other,3040,62
1047898,8503653,Zürichhorn (See),3,ZH,261.0,Zürich,Schiff,ZSG,2684205,1245239,Other,3043,62
1047899,8530528,Älpli,3,GR,3954.0,Malans GR,Kabinenbahn,AMG,2763452,1209076,Other,1,184
1047900,8530528,Älpli,3,GR,3954.0,Malans GR,Kabinenbahn,AMG,2763452,1209076,Other,51,184

**6.1.2 Calculate train, bus and other stop count**

In [118]:
stop_list_cleaned[:123]

,Dst-Nr85,Name,Status,Kt.,Gde-Nr,Ortschaft,Verkehrsmittel,TU-Abk,E-Koord.,N-Koord.,tp_means,ride_id,nr_days
0,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736,Zug,19215,255
1,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736,Zug,19219,255
2,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736,Zug,19220,255
3,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736,Zug,19223,255
4,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736,Zug,19224,255
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736,Zug,13615,108
119,8506013,Aadorf,3,TG,4551.0,Aadorf,Zug,SBB,2710378,1260736,Zug,13617,109
120,8502113,Aarau,3,AG,4001.0,Aarau,Zug,SBB,2646256,1249128,Zug,507,364
121,8502113,Aarau,3,AG,4001.0,Aarau,Zug,SBB,2646256,1249128,Zug,508,364
122,8502113,Aarau,3,AG,4001.0,Aarau,Zug,SBB,2646256,1249128,Zug,509,364

In [119]:
stop_list_cleaned_reduced = stop_list_cleaned[["Gde-Nr", "tp_means", "nr_days"]]
stop_list_cleaned_reduced

         Gde-Nr tp_means  nr_days
0        4551.0      Zug      255
1        4551.0      Zug      255
2        4551.0      Zug      255
3        4551.0      Zug      255
4        4551.0      Zug      255
...         ...      ...      ...
1047896   261.0    Other       62
1047897   261.0    Other       62
1047898   261.0    Other       62
1047899  3954.0    Other      184
1047900  3954.0    Other      184

[1047901 rows x 3 columns]

In [120]:
stop_list_group = stop_list_cleaned_reduced.groupby(["Gde-Nr","tp_means"], group_keys=False).sum()
stop_list_group [190:200]

                 nr_days
Gde-Nr tp_means
571.0  Bus         70390
       Other       24785
       Zug         21937
572.0  Other        1852
573.0  Other        1844
       Zug         17716
575.0  Bus          1272
576.0  Bus         89081
       Other        5502
       Zug        147372

The multiindex leads later to problems and should therefore be removed here:

In [121]:
stop_list_indexed = stop_list_group.reset_index(level=[0,1])
stop_list_indexed[190:200]

     Gde-Nr tp_means  nr_days
190   571.0      Bus    70390
191   571.0    Other    24785
192   571.0      Zug    21937
193   572.0    Other     1852
194   573.0    Other     1844
195   573.0      Zug    17716
196   575.0      Bus     1272
197   576.0      Bus    89081
198   576.0    Other     5502
199   576.0      Zug   147372

This has to be unformed into a wide pivot!

In [122]:
stoplist_pivot = stop_list_indexed.pivot(index="Gde-Nr", columns="tp_means", values="nr_days")

In [123]:
stoplist_pivot.fillna(0, inplace=True)

In [124]:
stoplist_pivot[1000:1005]

tp_means  Bus    Other      Zug
Gde-Nr
1002.0    0.0      0.0  27592.0
1004.0    0.0  10440.0      0.0
1005.0    0.0      0.0  14852.0

In [125]:
print(f"Bus stops in CH: {stoplist_pivot['Bus'].sum()}")
print(f"Train stops in CH: {stoplist_pivot['Zug'].sum()}")
print(f"Other PT stops in CH: {stoplist_pivot['Other'].sum()}")

Bus stops in CH: 96394180.0
Train stops in CH: 51819920.0
Other PT stops in CH: 2228436.0

In [126]:
stoplist_pivot.to_csv("../Data/Cleaned/stop_list_final.csv", index=False)